* {
  padding: 0;
  margin: 0;
  bottom: 0;
  outline: 0;
  list-style-type: none;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
}
.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.center {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
h1 {
  display: block;
  font-size: 150px;
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
}
h2 {
  font-size: 72px;
}
h3 {
  font-size: 30px;
  margin-top: 20px;
}
h4 {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  font-weight: 400;
}
h5 {
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #999999;
}
.line {
  display: inline-block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin-top: 35px;
}
/* other styles */
.conteiner-one {
  background: linear-gradient(to top, rgba(252, 227, 138, 0.7), rgba(243, 129, 129, 0.7)), linear-gradient(to bottom, rgba(252, 227, 138, 0.7), rgba(252, 227, 138, 0.7)), url(../img/header.png) no-repeat;
  background-size: cover;
  min-height: 568px;
  background-position: center;
  color: #fff;
  padding-bottom: 27px;
}
.container-one__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-one__logo {
  font-size: 30px;
  font-weight: bold;
  padding: 25px 0;
  padding-top: 14px;
}
.container-one__menu ul{
  display: flex;
}
.container-one__menu ul li {
  padding: 0 26px;
}
.container-one__menu ul li a, .container-one__menu ul li i{
  text-decoration: none;
  font-size: 14px;
  padding-bottom: 10px;
  color: #fff;
  transition: 0.3s ease;
}
.container-one__menu ul li i {
  padding: 0;
}
.container-one__menu ul li a:hover, .container-one__menu ul li a:focus{
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
}
.container-one__menu ul li i:hover, .container-one__menu ul li i:focus {
  color: #fce38a;
  transition: 0.5s;
}
.container-one__content {
  text-align: center;
}

.container-one__content h2{
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  padding-top: 10vh;
}

.container-one__content i {
  display: block;
  width: 60px;
  height: 3px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #ffffff;
}
.container-one__button {
  width: 160px;
  height: 40px;
  border: solid 3px #ffffff;
  background: none;
  margin-top: 50px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  transition: 0.5s;
}
.container-one__button:hover {
  background-color: #f38181;
}
/* container-one */
.container-two, .container-eight, .container-ten{
  padding-top: 91px;
  padding-bottom: 110px;
  text-align: center;
}

.container-two p, .container-eight p, .container-ten p {
  display: block;
  padding: 0 10%;
  margin-top: 47px;
}
.container-two__cards, .container-eight__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.container-two__item, .container-eight__inner, .container-ten__item {
  flex-basis: 32%;
  transition: 0.5s ease-in-out;
  text-align: center;
  position: relative;
}
.container-two__img, .container-eight__img, .container-ten__img {
  width: 100%;
  height: 100%;
}
.container-two__hover-background, .container-eight__hover-background, .container-ten__hover-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(252, 227, 138, 0.6), rgba(243, 129, 129, 0.6)), linear-gradient(to bottom, rgba(252, 227, 138, 0.6), rgba(252, 227, 138, 0.6));
  text-align: center;
  opacity: 0;
  transition: 0.5s ease;
}
.container-two__hover-content, .container-eight__hover-content, .container-ten__hover-content {
  position: absolute;
  top: 39%;
  left: 31%;
}
.container-two__hover-img {
  width: 32px;
  height: 32px;
}
.container-two__hover-content h5 {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
}
.container-two__item:hover, .container-eight__item:hover {
  box-shadow: 10px 10px #95e1d3;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
  opacity: 1;
}
.container-two__hover-background:hover, .container-eight__hover-background:hover, .container-ten__hover-background:hover {
  opacity: 1;
}
/* container-two */
.container-three {
  background-color: #95e1d3;
}
.container-three .center {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-left: 0.5px solid rgba(255, 255, 255, 0.3);
  border-right: 0.5px solid rgba(255, 255, 255, 0.3);
}
.container-three__statistics {
  padding: 88px 0;
  text-align: center;
  color: #fff;
  border-left: 0.5px solid rgba(255, 255, 255, 0.3);
  border-right: 0.5px solid rgba(255, 255, 255, 0.3);
}
/* container-three */
.container-four {
  padding-top: 105px;
  padding-bottom: 120px;
  text-align: center;
}
.container-four__advantages-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 15px;
}
.container-four__advantages {
  padding: 50px 7%;
  text-align: left;
}
.advantage {
  border-bottom: 1px solid #e5e5e5;
}
.container-four__advantages h5 {
  margin-bottom: 20px;
}
.container-four img {
  width: 32px;
  height: 32px;
  float: left;
  margin-bottom: 37px;
  margin-right: 30px;
}
/* container-four */
.container-five {
  background: url(../img/backgroundImg-container-five.png) no-repeat;
  text-align: center;
  padding-top: 96px;
}
.container-five__pad {
  z-index: 1;
  margin-bottom: 30px;
  margin-left: 4.5%;
  
}
.container-five__phone {
  z-index: 2;
  margin-bottom: -96px;
  margin-left: -167px;
}
/* container-five */
.container-eight__item {
  transition: 0.5s ease-in-out;
  line-height: 0;
}
.container-eight__hover-content {
  width: 58.3%;
  height: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  top: 44%;
  left: 21%;
}
.container-eight__hover-content div {
  background-color: #fce38a;
  padding: 21% 0;
  font-size: 26px;
  color: #f38181;
  transition: 0.5s ease-in-out;
}
.container-eight__hover-content div:hover {
  background-color: #f38181;
  color: #fff;
}
.container-eight__inner h5 {
  margin-top: 30px;
}
.container-eight__inner p {
  margin-top: 15px;
}
/* container-eight */
.container-nine {
  background-color: #f8f8f8;
  padding: 50px 0;
}
.container-nine .center {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
} 
/* container-nine */
.container-ten {
  text-align: center;
  padding-bottom: 0;
}
.container-ten__grid-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  line-height: 0;
  margin-top: 100px;
}
.container-ten__item:nth-child(3) {
  grid-column: 3/4;
  grid-row: 1/3;
}
.container-ten__hover-img {
  width: 30px;
  height: 30px;
}
.container-ten__hover-content h5 {
  color: #fff;
  margin-top: 6%;

}
.container-ten__hover-content p {
  color: #fff;
  margin-top: 8%;
  font-style: italic;
  padding: 0;
}
/* container-ten */
.container-fourteen {
  position: relative;
}
.container-fourteen__background {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
  background-image: url(../img/background-map.png);
  text-align: center;
}
.container-fourteen__background img {
  width: 20px;
  margin-top: 57px;
}
.container-fourteen__background h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #f38181;
  margin-top: 15px;
}
.container-fourteen__background .line {
  margin-top: 20px;
}
#map {
  width: 100%;
  height: 200px;
}
/* conteiner-fourteen */
@media (min-height: 1000px) {
  .container-one__content h2 {
    padding-top: 130px;
  }
}

@media (max-width: 1300px) {
  .container-one__content h1 {
    width: 90%;
  }
  .container-two__item, .container-eight__inner {
    width: 31%;
  }
  .container-ten__hover-content {
    left: 23%;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 110px;
  }
  .container-one__menu {
    display: none;
  }
  .container-two, .container-eight, .container-ten {
    padding-bottom: 0;
  }
  .container-two__cards, .container-eight__cards {
    flex-wrap: wrap;
  }
  .container-two__item, .container-eight__inner {
    flex-basis: 49%;
    margin-bottom: 30px;
  }
  .container-two p, .container-eight p, .container-ten p {
    padding: 0;
  }
  .container-two__hover-content {
    left: 36%;
  }
  .container-four__advantages-block,.container-ten__grid-cards, .container-nine .center {
    grid-template-columns: 1fr 1fr;
  }
  .container-four__advantages:nth-child(4) {
    border-bottom: 1px solid #e5e5e5;
  }
  .container-eight__hover-content {
    left: 20%;
  }
  .container-ten__item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .container-two__hover-content {
    left: 34%;
  }
}

@media (max-width: 768px) {
  .center {
    width: 93%;
  }
  h1 {
    font-size: 4em;
    display: inline-block;
  }
  h2 {
    font-size: 35px;
  }
  .container-one__content h2 {
    padding-bottom: 20px;
  }
  .container-two__item, .container-eight__inner {
    flex-basis: 100%;
  }
  .container-two__hover-content, .container-eight__hover-content {
    left: 38%;
    top: 43%
  }
  .container-three__statistics {
    padding: 10px 10px;
  }
  .container-four {
    padding-bottom: 0;
  }
  .container-four__advantages-block {
    grid-template-columns: 1fr ;
  }
  .container-four__advantages:nth-child(5) {
    border-bottom: 1px solid #e5e5e5;
  }
  .container-five__pad {
    margin-bottom: -4px;
    width: 70%;
  }
  .container-five__phone {
    margin-bottom: -13%;
    margin-left: -153px;
    width: 31%;
  }
  .container-eight__hover-content {
    left: 20%;
  }
  .container-eight__hover-content i {
    font-size: 34px;
  }
  .container-ten__hover-content {
    left: 24%;
  }
}

@media (max-width: 600px) {
  .ontainer-two__item, .container-eight__inner {
    width: 100%;
  }
  .container-three .center{
    grid-template-columns: 1fr;
    border: none;
    border-top: 0.5px solid rgba(255, 255, 255, 0.3);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
  }
  .container-three__statistics {
    padding: 10px 0;
    border: none;
    border-top: 0.5px solid rgba(255, 255, 255, 0.3);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
  }
  .container-four__advantages {
    padding: 50px 0;
  }
  .container-ten__hover-content {
    left: 18%;
  }
  .container-ten__hover-content h5{
    font-size: 12px;
  }
  .container-ten__hover-content p {
    font-size: 13px;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 36px;
  }
  .container-nine .center, .container-ten__grid-cards {
    grid-template-columns: 1fr;
  }
  .container-ten__item:nth-child(3) {
    grid-row: 3/5;
  }
  .container-ten__hover-content {
    left: 29%;
  }
}
